:javascript
  $(function () {
    $('[data-toggle="popover"]').popover()
    
    $('.popover-dismiss').popover({
      trigger: 'focus'
    });
  })

%section.col-lg-9.col-md-10.mx-auto
  = render "shared/messages"
  %p.lead
    %i.fa.fa-user-circle-o.mr-2(area-hidden="true")
    = "Edit Profile: #{@user.full_name}"
  = render "form", url: user_path
  = link_to "Cancel", user_path(@user), class: "primary-link float-right"
