%section.col-10.mx-auto
  %section.profile-description.mb-3.border.rounded.bg-light.p-3
    %p.lead.mb-0
      %i.fa.fa-user-circle-o.mr-2(area-hidden="true")
      = @user.full_name
    %small.d-block.w-100.mb-2.text-secondary= "Member Since: #{format_date(@user.created_at)}"
    %p.mb-1= @user.motto
  %section#user-reviews.p-3
    %p.lead.mb-0.pb-2.border.border-top-0.border-left-0.border-right-0.text-center Reviews
    - if @user.reviews.count > 0
      %ul.review-list
        = render Review.sort_by_newest(@user.reviews), show_business: true, show_name: false
    - else
      %p.mt-2 No reviews yet...
