%li.list-group-item
  .d-inline-block.align-top
    %span.d-block.badge.category-badge.mb-2
      = link_to business.category.name.titleize, "#", class: "badge-link"
    %p.lead.mb-1
      %i.fa.fa-building.mr-2(area-hidden="true")
      = link_to business.name, business_path(business), class: "primary-link"
    %p.lead.mb-0.pb-2
      %i.fa.fa-star.mr-2.text-star-gold
      %i.fa.fa-star.mr-2.text-star-gold
      %i.fa.fa-star.mr-2.text-star-gold
      %i.fa.fa-star.mr-2.text-star-gold
      %i.fa.fa-star-half-o.mr-2.text-star-gold
    %p.mb-0= "#{business.city}, #{business.state}"
  .d-inline-block.align-top
    %p= business.description