:javascript
  $(function () {
    $('[data-toggle="popover"]').popover()
    
    $('.popover-dismiss').popover({
      trigger: 'focus'
    });
  })

%section.col-10.mx-auto
  = render "shared/messages"
  %section.business-description.mb-3.border.rounded.bg-light.p-3
    %span.d-block.badge.category-badge.mb-2
      = link_to @business.category.name.titleize, businesses_category_path(@business.category), class: "badge-link"
    %p.lead.mb-1
      %i.fa.fa-building.mr-2(area-hidden="true")
      = @business.name
    %small.d-block.w-100.text-secondary= "Reviews: #{@business.review_count}"
    %p.lead.mb-1.pb-2.border.border-left-0.border-right-0.border-top-0
      - full_stars, star_remainder = @business.average_star_score.to_f.divmod(1)
      - full_stars.times do |_|
        %i.fa.fa-star.mr-2.text-star-gold
      - if star_remainder >= 0.5
        %i.fa.fa-star-half-o.mr-2.text-star-gold
    .d-inline-block.my-2.align-top.px-mw-200
      = link_to "Website", @business.website, class: "primary-link mb-1", target: :_blank
      %p.mb-0= @business.address
      %p.mb-0= "#{@business.city}, #{@business.state} #{@business.zip_code}"
      %p.mb-0= @business.phone_number
      %small.mb-0.text-secondary= "#{display_hour(@business.open_hr)}-#{display_hour(@business.close_hr)} hrs"
    .d-inline-block.my-2.pl-md-3.pl-xs-0.align-top
      %p= @business.description
  %section.add-review
    .col-12
      .clearfix.border.border-top-0.border-left-0.border-right-0
        %p.lead.float-left
          Reviews
        %a(data-toggle="collapse" href="#review-form" role="button" aria-expanded="false" aria-controls="review_form" id="review_open_btn" class="primary-link float-right")
          %p.lead
            %i.fa.fa-plus-circle.mr-2(aria-hidden="true")
            Add a Review
    .col-12
      #review-form.collapse.border.rounded.p-3.my-4.bg-light
        = form_for [@business, @review], { url: review_business_path } do |f|
          .form-group.star_rating
            = f.label :stars, class: "d-inline-block mr-2" do
              %i.fa.fa-star.mr-2
              Stars
            = f.select :stars, options_for_select((1..5).to_a), {}, { class: "form-control d-inline-block" }
          .form-group
            = f.label :content, "Content"
            %small.text-secondary
              %a(class="popover-anchor text-secondary" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="What is this for?" data-content="What did you think of this business? What should other users know before they go to this business?")
                %i.fa.fa-question-circle-o
            = f.text_area :content, class: "form-control", rows: "5"
          = f.submit "Submit", class: "btn primary-btn"
          %button(type="reset" class="btn secondary-btn px-3") Reset
      - if @business.reviews.count > 0
        %ul.review-list
          = render @business.reviews, show_business: false
      - else
        %p No reviews yet...
